Flask==0.10.1
Flask-Dance[models]==0.4.0
Flask-SQLAlchemy==2.0
Flask-Script
Flask-SSLify
Flask-Bootstrap==3.3.0.1
Flask-Login==0.2.11
celery==3.1.17
redis==2.10.3
librabbitmq==1.6.1
blinker
requests==2.5.0
git+https://github.com/singingwolfboy/requests-oauthlib.git@allow-setting-values-after-initialization#egg=requests_oauthlib
bugsnag
gunicorn==19.1.1
psycopg2==2.5.4
iso8601
sqlalchemy_utils==0.29.5
colour==0.0.6
